<!DOCTYPE html>
<html>

  <%- include ../views/partials/_head.ejs %>
    <body>
      <%- /*include ../views/partials/_flashMessages.ejs*/%>
       <h1>Stock Market App</h1>
      <div id="app"></div>
      <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
      <script type="text/javascript" src="/dist/bundle.js"></script>
    </body>

</html>